@font-face {
font-family: Everett;
src: url("../../fonts/TWKEverett-Extrabold.otf");
font-weight:700;
}
@font-face {
font-family: Everett;
src: url("../../fonts/TWKEverett-Bold.otf");
font-weight:500;
}
@font-face {
font-family: Everett;
src: url("../../fonts/TWKEverett-Medium.otf");
font-weight:400;
}
@font-face {
font-family: Everett;
src: url("../../fonts/TWKEverett-Light.otf");
font-weight:300;
}
.transfContainer{
    display: flex;
    justify-content:center;
    align-items: center;
}
.title{
font-family: Everett;
color: #b76ff0;
font-size: 3.4rem;
font-weight: 700;
text-align: left;
line-height: 1.2;
}
.text{
font-family: Everett;
color: #272727;
font-size: 2rem;
font-weight: 400;
text-align: left;
line-height: 1.2;
margin: 1.25rem;
}
.boxService{
    height: 360px !important;
}

@media only screen and (max-width : 900px) {
    .title{
        font-size: 2rem;
        }
    .text{
        font-size: 1.8rem;
        }
}