@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: Everett;
  src: url("./font/TWKEverett-Bold.otf");
  font-weight:700;
}
@font-face {
  font-family: Everett;
  src: url("./font/TWKEverett-Medium.otf");
  font-weight:500;
}
@font-face {
  font-family: Everett;
  src: url("./font/TWKEverett-Regular.otf");
  font-weight:400;
}
@font-face {
  font-family: Everett;
  src: url("./font/TWKEverett-Light.otf");
  font-weight:300;
}

:root {
  --back-color-primary: #6cf4da;
  --back-color-secondary:#cccccc;
  --text-color-primary: #320093;
  --text-color-secondary: #6700ff;
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;

  --greenOne:#97ffb7;
  --greenTwo: #6fc4da;
  --lightPurpleW:#b76ff0;
  --darkGrey: #272727;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Everett";
  font-weight:400;
}

main {
  margin-top: 60px;
}
.container {
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.title{
  font-family: Everett;
  color: var(--lightPurpleW);
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}
.text{
  font-family: Everett;
  color: var(--darkGrey);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
.logo{
  width:150px;
  height: 50px;
}